name: Frontend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "frontend/**"

jobs:
  frontend-build:
    name: Angular Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install & Build Angular
        run: |
          cd frontend
          npm install --legacy-peer-deps
          npm run build
