name: Frontend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "frontend/**"

jobs:
  frontend-build:
    name: Angular Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install Dependencies
        run: |
          cd frontend
          npm install --legacy-peer-deps

      - name: Force Angular 14 Compatible TypeScript
        run: |
          cd frontend
          npm uninstall typescript
          npm install typescript@4.8.4 --save-dev

      - name: Build Angular App
        run: |
          cd frontend
          npm run build
